body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0b3244;
    padding: 5px;
}

#help-button {
    margin-left: auto;
    margin-right: 10px;
}

header img {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    color: white;
}

h1 {
    margin: 0;
}

main {
    padding: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
}

li:last-child {
    border-bottom: none;
}

.item-details {
    display: flex;
    justify-content: space-between;
}

.item-details:hover {
    cursor: pointer;
}

.item-name {
    font-weight: bold;
}

.item-price {
    color: #007bff;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#save-button {
    display: block;
    margin: 15px auto 0 auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 20px); /* Adjust width as needed */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#item-error {
    display: none;
    color: #d94646;
    text-align: center;
}

#delete-button {
    display: none;
    background-color: #d94646;
    margin: 15px auto 0 auto;
}

#delete-button:hover {
    background-color: #9f3333;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    margin-right: 10px;
}

#add-item {
    margin-left: 10px;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#offline-warning {
    display: none;
    color: #d94646;
    font-size: 14px;
    margin-left: 10px;
}

@media only screen and (min-width: 900px) {
    #offline-warning {
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.command {
    margin-top: 20px;
}